@model IEnumerable<FBAData.LearningCategory>

@{
    ViewData["Title"] = @Resources.FabStartAcademy.LearningCategories;
}

<h2>LearningCategories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
<div class="row fba-title" style="margin-top:10px;">
    @* @Html.DisplayFor(modelItem => item.ID)*@

    <div class="col-8" style="margin-top:15px;"><h3 style="margin-top:0px;">@item.Name</h3></div>
    @*@Html.DisplayFor(modelItem => item.Name)*@ 
    
<div class="col-2">
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @*  <a asp-action="LearningCategory2" asp-controller="KnowledBase" asp-route-taskid="@item" asp-route-teamid="@item" class="col-12 btn btn-primary">
            @Resources.FabStartAcademy.View
        </a> *@
</div>
    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
    <div class="col-2">
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </div>

</div>
    }

