@model PartnerModel

@{

    @using Microsoft.Extensions.Configuration;
    ViewData["Title"] = "Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var builder = new Microsoft.Extensions.Configuration.ConfigurationBuilder()
    .AddJsonFile("appsettings.json");
    var config = builder.Build();
    string codeStart = config["Constants:CodeBegin"];
}

@if (Model.Partner.ID == 0)
{
    <h1>@Resources.FabStartAcademy.NewPartner</h1> }
else
{
    <div class="row">
        <div class="col-10"><h1> @Model.Partner.Name</h1></div>
        <div class="col-2"><h1> @Model.Partner.Code</h1></div>
    </div>
}


<hr />
@if (Model.ReadOnly)
{

    <div class="row">
        <div class="col-2 float-left"><a asp-action="@Actions.Partner.Name" asp-route-id="@Model.Partner.ID" asp-route-readOnly="false" class="col-12 btn btn-primary">@Resources.FabStartAcademy.Edit</a></div>

        @if (Model.IsSuperAdmin & !Model.Partner.IsMain)
        {
            @if (!Model.Partner.IsSuspended)
            {
                <div class="col-2 float-left"><form asp-action="@Actions.PartnerSuspend.Name" asp-route-id="@Model.Partner.ID" asp-route-suspend="true">  <input type="submit" value="@Resources.FabStartAcademy.Suspend" class="col-12 btn btn-warning" /></form></div>
            }
            else
            {
                <div class="col-2 float-left"><form asp-action="@Actions.PartnerSuspend.Name" asp-route-id="@Model.Partner.ID" asp-route-suspend="false">  <input type="submit" value="@Resources.FabStartAcademy.Activate" class="col-12 btn btn-success" /></form></div>
            }

            <div class="col-2 float-left"><form asp-action="@Actions.PartnerDelete.Name" asp-route-id="@Model.Partner.ID">  <input type="submit" value="@Resources.FabStartAcademy.Delete" class="col-12 btn btn-danger" /></form></div>
        }
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col-4">
            <div class="card" style="min-height:580px;">
                <div class="card-title" style="text-align: center">
                    <div class="row">
                        <div class="col-12" style="margin-left:10px">
                            <h3>@Resources.FabStartAcademy.Member_TeamToken  @Resources.FabStartAcademy.Member_ForUsers</h3><hr />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>@Resources.FabStartAcademy.Member_ShareThisToken</p>
                    <hr />
                    <h3>@codeStart@Model.Partner.Code</h3>
                    <div><a href="#" data-copy="@codeStart@Model.Partner.Code">@Resources.FabStartAcademy.Member_CopyClipboard</a></div>
                    <hr />
                    <p>@Resources.FabStartAcademy.Member_RegistrationURL</p>
                    <p>[Registration URL]</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="min-height:580px;padding-left:5px;">
                <div class="card-title" style="text-align: center">
                    <h3>@Resources.FabStartAcademy.Member_ManualInvitation</h3>
                    <hr />
                </div>
                <div class="card-body">
                    <span class="click icn-primary-large bi-person-plus-fill" id="addMember"></span>
                    <div id="newMember" style="display:none">
                        <form asp-action="@Actions.Member.Name" asp-route-partnerId="@Model.Partner.ID">
                            <div class="form-group">
                                <label asp-for="Member.Email" class="control-label"></label>
                                <input asp-for="Member.Email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="submit" value="@Resources.FabStartAcademy.Save" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="min-height:580px;padding-left:5px;">
                <div class="card-title" style="text-align: center">
                    <div class="row">
                        <div class="col-12"><h3>@Resources.FabStartAcademy.TeamMembers</h3></div>

                    </div>
                    <hr />
                </div>
                <div class="card-body" style="padding-top:0px">
                    @{
                        bool isFirstConfirmed = true;
                        bool isFirstNotConfirmed = true;
                    }
                    @foreach (var x in Model.Members)
                    {
                        if (x.IsConfirmed && isFirstConfirmed)
                        {
                            isFirstConfirmed = false;
                            <div style="margin-bottom:15px;"><h3 style="margin-top:0px;">@Resources.FabStartAcademy.Confirmed</h3></div>
                        }

                        if (!x.IsConfirmed && isFirstNotConfirmed)
                        {
                            isFirstNotConfirmed = false;
                            <div style="margin:15px 0;"><h3>@Resources.FabStartAcademy.NotConfirmed</h3></div>
                        }
                        <div class="row">

                            <div class="col-12">
                                @if (x.IsConfirmed)
                                {
                                    <span class="bi-check-circle-fill success"></span>
                                } @x.Email <div class="badge badge-secondary">@x.RoleName</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $("a[data-copy]").on("click", function () {

            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(this).attr("data-copy")).select();
            document.execCommand("copy");
            $temp.remove();
        })

        $("#addMember.bi-person-plus-fill").click(function (e) {
            debugger;
            $("#newMember").show();
            $("#addMember").hide();
        })






    </script>


}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="@Actions.Partner.Name">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(x => x.Partner.ID)
                @Html.HiddenFor(x => x.Partner.IsMain)
                @Html.HiddenFor(x => x.Partner.IsSuspended)
                @Html.HiddenFor(x => x.Partner.IsDeleted)
                @if (Model.Partner.ID > 0)
                {
                    <div class="form-group">
                        <label asp-for="Partner.Code" class="control-label"></label>
                        <input readonly asp-for="Partner.Code" class="form-control" />
                        <span asp-validation-for="Partner.Code" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Partner.Name" class="control-label"></label>
                    <input asp-for="Partner.Name" class="form-control" />
                    <span asp-validation-for="Partner.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="@Resources.FabStartAcademy.Save" class="btn btn-primary" />
                    <div class="col-3 float-right">
                        <a asp-action="@Actions.Partners.Name" class="btn btn-primary">@Resources.FabStartAcademy.Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}


