@model IEnumerable<FBAData.Partner>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.FabStartAcademy.Partners</h1>

<p>
    <a asp-action="@Actions.Partner.Name">@Resources.FabStartAcademy.NewPartner</a>
</p>


@foreach (var item in Model)
{
   
    <a asp-action="@Actions.Partner.Name" asp-route-id="@item.ID" style="margin-top:10px">
    <div class="row fba-title" style="margin-top:10px">
        <div class="col-6">  @Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-2">  @Html.DisplayFor(modelItem => item.Code)</div>
        <div class="col-4" style="text-align:right">
            @if (item.IsMain)
            {
                @Resources.FabStartAcademy.Main
            }
            else if (item.IsSuspended)
            {
                @Resources.FabStartAcademy.Suspended
            }
            else if (item.IsDeleted)
            {
                @Resources.FabStartAcademy.Deleted
            }
            else
            {
                @Resources.FabStartAcademy.Active
            }
        </div>
    </div>

</a>
}
    