@model FabStartAcademy.Models.ProcessBreadCrumb
@{ 
    int space = 6;

    if ( Model.Action.ID == Actions.Session.ID || Model.Action.ID == Actions.Tasks.ID)
        space = 2;


}
    <div class="row" style="border:solid 1px #ddd">
        <div style="float:left" class="col-2 FBAbreadcrumb @(Model.Action.ID==Actions.Method.ID? "active":"")">
            @if (Model.Action.ID != Actions.Method.ID)
            {
                <a asp-action="@Actions.Method.Name" asp-route-id="@Model.ProcessID">
                    <span class="badge badge-pill badge-secondary">1</span>  @Resources.FabStartAcademy.Description
                </a>
            }
            else
            {
                <span class="badge badge-pill badge-primary">1</span> @Resources.FabStartAcademy.Description
            }

        </div>
        <div style="float:left" class="col-2 FBAbreadcrumb  @(Model.Action.ID==Actions.Sessions.ID? "active":"")">
            @if (Model.ProcessID > 0)
            {

                <a asp-action="Sessions" asp-route-programid="@Model.ProcessID">
                    <span class="badge badge-pill badge-@(Model.Action.ID == Actions.Sessions.ID ? "primary" : "secondary") ">2</span>  @Resources.FabStartAcademy.Sessions
                </a>
            }
            else
            {
                <span class="badge badge-pill badge-@(Model.Action.ID == Actions.Sessions.ID ? "primary" : "secondary") ">2</span> @Resources.FabStartAcademy.Sessions


            }

        </div>
        @if (Model.Action.ID == Actions.Session.ID || Model.Action.ID==Actions.Tasks.ID)
        {
            <div style="float:left" class="col-2 FBAbreadcrumb  @(Model.Action.ID==Actions.Session.ID? "active":"")">

                <a asp-action="Session" asp-route-programid="@Model.ProcessID" asp-route-id="@Model.SessionID">
                    <span class="badge badge-pill @(Model.Action.ID==Actions.Session.ID? "badge-primary":"badge-secondary")">3</span>  @( Model.SessionID==0?Resources.FabStartAcademy.NewTopic:Model.Session)
                </a>



            </div>
            if (Model.SessionID > 0)
            {
                <div style="float:left" class="col-2 FBAbreadcrumb  @(Model.Action.ID==Actions.Tasks.ID? "active":"")">

                    <a asp-action="Tasks" asp-route-sessionID="@Model.SessionID">
                        <span class="badge badge-pill @(Model.Action.ID==Actions.Tasks.ID? "badge-primary":"badge-secondary")">4</span> @Resources.FabStartAcademy.Tasks
                    </a>



                </div>
            }
        }

        <div style="float:left" class="col-@(space)">	&nbsp;</div>
        <div style="  float: left" class="col-2 FBAbreadcrumb">Knowledge Hub </div>
    </div>