@model FabStartAcademy.Models.TasksModel

@{
    ViewData["Title"] = "Tasks";
    int i = 0;
}

<h1>@Html.ActionLink(Resources.FabStartAcademy.Methods, Actions.Methods.Name) /  @Model.ProgramName</h1>
@{
    Html.RenderPartial("MethodBreadCrumbs", new ProcessBreadCrumb { ProcessID = Model.ProcessID, SessionID = Model.SessionID, Action = Actions.Tasks,Session=Model.SessionName });
}

<div class="col-12" style="margin-top:65px">
    <a asp-action="@Actions.Task.Name" asp-route-sessionId="@Model.SessionID">@Resources.FabStartAcademy.CreateNew</a>
</div>

@foreach (var item in Model.Tasks)
{

    <div class="col-12 card" style="margin-top:10px">
        <a asp-action="@Actions.Task.Name" asp-route-id="@item.ID" asp-route-sessionId="@item.SessionID">
            <div class="col-9" style="float:left"><h2>@item.Name</h2></div>
            <div class="col-3" style="float:right;margin-top:20px;font-size:20px">
                <div class="col-4" style="float:left">&nbsp;</div>
                <div class="col-8" style="float:left">
                    <form asp-action="@Actions.TaskOrder.Name" asp-route-id="@item.ID" asp-route-sessionID="@item.SessionID" asp-route-order="@(item.Order-1)" style="float:left;">
                        <button class="btn btn-secondary bi-eye" style="padding:2px"></button>
                    </form>
                    <form asp-action="@Actions.TaskDelete.Name" asp-route-id="@item.ID" asp-route-sessionID="@item.SessionID" style="float:left;margin-left:10px;">
                        <button class="btn btn-danger bi-trash-fill" style="padding:2px"></button>
                    </form>


                    @if (i < Model.Tasks.Count - 1)
                    {





                        <form asp-action="@Actions.TaskOrder.Name" asp-route-id="@item.ID" asp-route-sessionID="@item.SessionID" asp-route-order="@(item.Order+1)" style="float:left; margin-left:10px;">
                            <button class="btn btn-primary bi-arrow-down" style="padding:2px"></button>
                        </form>

                    }
                    @if (i > 0)
                    {


                        <form asp-action="@Actions.TaskOrder.Name" asp-route-id="@item.ID" asp-route-sessionID="@item.SessionID" asp-route-order="@(item.Order-1)" style='float:left;margin-left:@(i == Model.Tasks.Count - 1?"10px":"5px");");'>
                            <button class="btn btn-primary bi-arrow-up" style="padding:2px"></button>
                        </form>




                    }
                </div>
 


            </div>

        </a>
    </div>

    i++;

}
