@model TasksModel

<h1>@Html.ActionLink(Resources.FabStartAcademy.Methods, Actions.Methods.Name) /  @Model.ProgramName</h1>
@{
    Html.RenderPartial("MethodBreadCrumbs", new ProcessBreadCrumb { ProcessID = Model.ProcessID, SessionID = Model.SessionID, Action = Actions.Tasks, Session = Model.SessionName });
}

<h2>@Model.SessionName</h2>

<div class="card">
    <div class="card-header">
        <div class="col-md-8" style="float:left;font-weight:bold">@Model.Task.Name</div>
        <div class="col-md-4" style="float:right;text-align:right">
            @if (Model.Task.AvailableOn.HasValue)
            {
                @Html.Raw(Resources.FabStartAcademy.AvailableOn+" ") @Html.DisplayFor(m => m.Task.AvailableOn)
            }
            else
            {
                @Resources.FabStartAcademy.Available
            }

        </div>
    </div>
    <div class="card-body">
        <div class="col-md-8" style="float:left">
            @Model.Task.Description
            @if (Model.Task.TaskType != 0)
            {@Html.Raw("(")
            switch ((FBAData.Task.TaskTypes)Model.Task.TaskType)
            {
                case FBAData.Task.TaskTypes.Template:
                    @Html.Raw(Resources.FabStartAcademy.TaskType_Template);
                    break;
                case FBAData.Task.TaskTypes.Tool:
                    @Html.Raw(Resources.FabStartAcademy.TaskType_Tool);
                    break;
                case FBAData.Task.TaskTypes.URL:
                    @Html.Raw(Resources.FabStartAcademy.TaskType_URL);
                    break;
                default:
                    break;
            }
            @Html.Raw(")")
        }
        </div>
        <div class="col-md-4" style="float:left;text-align:right">
            @if (@Model.Task.IsEvaluated)
            {
                <b> @Resources.FabStartAcademy.ForEvaluation</b>
            }
        </div>
        <hr />
        <div class="col-md-12">

            @Html.Raw(Model.Task.Instructions)
        </div>
        <div class="row">


            <div class="col-12">
                @Html.ActionLink(Resources.FabStartAcademy.Edit, Actions.Task.Name, new { id = Model.Task.ID, read = false, sessionID = Model.Task.SessionID }, new { @class = "btn btn-primary col-md-2", style = "margin-top:10px;float:right;" })
            </div>
        </div>
    </div>
</div>



<div class="row" style="margin-top:10px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                @Resources.FabStartAcademy.Documents
            </div>
            <div class="card-body">
                <form asp-action="TaskDocument" enctype="multipart/form-data" style="margin-bottom:10px">
                    <input type="hidden" value="@Model.Task.SessionID" name="sessionID" />

                    <input type="hidden" value="@Model.Task.ID" name="taskID" />
                    <div class="row">
                        <div class="col-2">
                            <input type="file" name="template" id="template" style="display:none" />
                            <a class="btn btn-primary browse col-12" onclick="$('#template').click();">Browse</a>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary">@Resources.FabStartAcademy.Upload</button>
                        </div>
                    </div>
                </form>
                <hr />
                @foreach(var d in Model.TaskDocuments){
                    <div class="row">
                        <div class="col-12">
                            @Html.ActionLink(d.FileName,Actions.Download.Name,Actions.Download.Controller,new { documentID=d.DocumentID })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>