@model FabStartAcademy.Models.TeamItem

@{
    ViewData["Title"] = Resources.FabStartAcademy.Team;
}

<h1>@Html.ActionLink(Resources.FabStartAcademy.Teams, Actions.Methods.Name,new {programID=Model.ProgramID }) /  @Model.ProgramTitle</h1>
@{
    Html.RenderPartial("ProgramBreadCrumbs", new ProgramBreadCrumb { ProgramID = Model.ProgramID, Action = Actions.Team, TeamID = Model.ID,Team=Model.Title }) ;
}






<div @(Model.IsReadOnly ? "style='margin-top:50px;'" : "")>

    <hr />
    @if (Model.IsReadOnly)
    {
        @Html.HiddenFor(model => model.ID)
        

        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(@Model.Description)
            </dd>
        </dl>
    }
    else
    {
        <div class="row form">
            <div class="col-lg-12 " style="border-bottom:1px solid #eee">

                @if (Model.ID > 0)
                {<h1>
                        @Resources.FabStartAcademy.Edit  @Model.Title
                    </h1>
                }
                else
                {
                    <h1>  @Resources.FabStartAcademy.Add @Resources.FabStartAcademy.NewTeam.ToLower()</h1>
                }

            </div>
        </div>
        <div class="row form">

            <form enctype="multipart/form-data" asp-action="@Actions.Team.Name">
                <div class="col-lg-7">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.LogoID)
                    @Html.HiddenFor(model => model.ProgramID)
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />


                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="10" id="txtAreaDescription"></textarea>
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor 4
                            // instance, using default configuration.
                            $(document).ready(function () {
                                CKEDITOR.replace('txtAreaDescription'), {

                                    extraPlugins: 'embed',
                                    embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',
                                };
                            })

                        </script>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                </div>

                <div class="col-lg-5" style="text-align:center">
                    @if (!(Model.Image is null) && Model.Image != string.Empty)
                    {
                        <img src="@Model.Image" width="200">
                    }
                    else
                    {
                        <img src="~/imgs/placeholder-team.png" width="150">

                    }
                    <div class="form-group">
                        <input type="file" name="Logo" id="Logo" style="display:none" />
                        <a class="btn btn-primary browse" style="width:200px" onclick="$('#Logo').click();">Browse</a>
                        <script>
                            function clickLogo() { }

                        </script>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="submit" value="@Resources.FabStartAcademy.Save" class="btn btn-primary" />
                        <input type="submit" value="@Resources.FabStartAcademy.SaveAndNext" class="btn btn-primary" asp-route-isNext="true" />
                    </div>
                </div>

            </form>

        </div>


    }

</div>
@if (Model.IsReadOnly)
{
    <div>

        @Html.ActionLink(Resources.FabStartAcademy.Edit, Actions.Team.Name, new { ID = Model.ID, read = false }) |
        <a asp-action="@Actions.Teams.Name" asp-route-programID="@Model.ProgramID">Back to List</a>

    </div>

}

